<app-template-header></app-template-header>

<div class = "list-view">
<h4>Open</h4>
  <div *ngIf = "items?.length > 0; else noItems" >
    <ul *ngFor ="let item of items" class="collection">
      <app-template-todo *ngIf ="item.status == false" [item]="item"></app-template-todo>
    </ul>
  </div>
  <app-template-todo-form></app-template-todo-form>
<h4>Done</h4>
  <div>
    <ul *ngFor ="let item of items" class="collection">
      <app-template-todo *ngIf ="item.status == true" [item]="item"></app-template-todo>
    </ul>
  </div>
</div>

<ng-template #noItems>
  <hr>
  <h4>There are no tasks to list</h4>
</ng-template>
