//COLOR PALETTE
$prime: #353943
$prime-dark: #161618
$second: #222429
$second-light: #3e424c
$grey: #80879a
$red: #ff582b
$red-dark: #6a2918
$white: #ffffff

//PADDING & MARGIN, SIZING
$cube: 1rem

//FONTS
$font1: "Poppins Medium", sans-serif
$font2: "Poppins", sans-serif
