<div class="todo" [class.done]="item.status">
  <div class="todo-content">
    <div class="todo-content-check">
      <img *ngIf="!item.status" (click)="changeCheck(item)" src ="./assets/svg/checkbox-empty.svg">
      <img *ngIf="item.status" (click)="changeCheck(item)" src ="./assets/svg/checkbox-checked.svg">
    </div>
    <div class="todo-content-title">
      <input type="text" (blur)="updateItem(item)" [(ngModel)]="item.label" placeholder="New task">
    </div>
  </div>
  <div class="remove-button" (click)="deleteItem($event,item)">
    <span>Remove</span>
  </div>
</div>
